
@{
    ViewBag.Title = "Giriş Yap";
}

<h2>Giriş Yap</h2>

<a href="../OgrenciIslem/GirisYap">Öğrenci Girişi</a>
<br /><br />
<a href="../OgretimGorevlisiIslem/GirisYap">Öğretim Görevlisi Girişi</a>
<br /><br />
<a href="../Yonetim/Yonetim/GirisYap">Bilgi İşlem Girişi</a>
