<div class="jumbotron">
    <h1>Kodlab Üniversitesi'ne Hoşgeldiniz</h1>
    <p class="lead">Özel Kodlab Üniversitesi, diğer üniversitelerden farklı ders içerikleri, uygulamalı eğitimleri ile sizleri farklı bir hayata hazırlıyor.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Kodlab'da Öğrencilik</h2>
        <p>
            Kodlab Üniversitesi öğrencileri gerek sosyal yaşamda gerekse iş hayatında her zaman bir adım önde olacaktır.
            Öğrenim süresi boyunca her öğrencinin en az bir sosyal faaliyet grubunda aktif rol alıp işinde olduğu kadar insan ilişkilerinde de başarılı olmaları
            sağlanmaktadır.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Kodlab'da Yaşam</h2>
        <p>Kodlab Üniversitesi'nin kampüs içindeki yurtları ile derse geç kalma derdine son! Doğa ve yeşille iç içe bir kampüs hayatı seni bekliyor</p>
    </div>
    <div class="col-md-4">
        <h2>Kodlab Mezunları</h2>
        <p>Kodlab Üniversitesi'nden mezun olanlar arasında yapılan araştırmada, yurtdışında iş bulanların yurt içinde bulanlardan daha fazla olduğu biliniyor.</p>
    </div>
</div>
